@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


#app{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;

}

.routes-container{
  display: flex;
  justify-content: center;
}

*{
  text-decoration: none;
  list-style: none;
  margin: 0;
  
}

Link{
  text-decoration-color: none;
}

body{
  margin: 0px;
  font-family: "Poppins";
  
  
}
#root{
 display: inline;
 flex-direction: column;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #f0f8ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}