.cards-parent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
  
}

// .cards-parent {
//   display: grid;
//   padding-left: 60px;
//   padding-right: 60px;
//   grid-template-columns: repeat(4, 1fr);
//   grid-gap: 5px;
// }

// @media (max-width: 768px) {
//   .cards-parent {
//     display: grid;
//     grid-template-columns: repeat(1, 1fr);
//     grid-gap: 5px;
//   }
// }

// @media (min-width: 768px) and (max-width: 1024px) {
//   .cards-parent {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     grid-gap: 5px;
//   }
// }
