

//Font SemiBold 
@font-face {
    font-family: "Poppins-SemiBold";
    src: url(../assets/fonts/Poppins-SemiBold.ttf) format("truetype");
    font-weight: 600;
}

//Font Regular
@font-face {
    font-family: "Poppins-Light";
    src: url(../assets/fonts/Poppins-Light.ttf) format("truetype");
    font-weight: 400;
}